- device_log_messages = present_collection(@device_log_messages)
= render partial: 'shared/list', locals: { collection: device_log_messages,
  columns: [{attr: :command},
            {attr: :message},
            {attr: :localtime},
            {attr: :created_at} ] }
