- content_for :page_title, t(:log_for_device_title) + " #{@device_log_messages.first.try(:device).try(:name)}"

= render 'filter_form'

= render(partial: 'list', locals: {device_log_messages: @device_log_messages})

= link_to icon_link_to('export', 'Export to CSV'), device_device_log_messages_path(device_id: params[:device_id], format: 'csv'), class: 'btn btn-default'
