- devices = present_collection(@devices)
= render partial: 'shared/list', locals: { collection: devices,
  columns: [{attr: :name},
            {attr: :login},
            {attr: :device_groups },
            {attr: :company},
            {attr: :playlist},
            {attr: :now_playing}],
  details_link: -> (i) { device_path(i) },
  row_class: -> (i) { i.online? ? 'success' : 'danger' } }
