%h1 Editing device

.row
  .col-md-6
    = render 'form'

.row
  .col-md-12
    = link_to 'Delete this device', @device, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }
