- title t(:edit_device_title)

.row
  .col-md-12
    %h1= yield(:title)
    = link_to t(:delete_this_device), @device, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => t(:are_you_sure) }



  
.row
  .col-md-12
    = render partial: 'form', locals: {login_edit_disable: true}
