- title "Editing device"

%h1= yield(:title)
  
.row
  .col-md-12
    = render 'form'
    = link_to 'Delete this device', @device, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }
