- title "Editing device"

.row
  .col-md-12
    %h1= yield(:title)
    = link_to 'Delete this device', @device, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }



  
.row
  .col-md-12
    = render partial: 'form', locals: {serial_edit_disable: true}
