<% content_for :page_title, t('views.devices.index_title') %>

<div class="columns">
  <div class="column">
    <h1 class="title"><%= yield(:page_title) %></h1>
  </div>
  <div class="column">
    <% if policy(Device::Bind.new).new? %>
      <%= link_to(new_device_binds_path, class: "button is-primary is-outlined is-pulled-right") do %>
        <span class="icon"><i class="fas fa-link"></i></span>
        <span><%= t('views.devices.bind') %></span>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_packs_with_chunks_tag 'application', 'devices' %>
<% end %>

<div id="root_component"></div>
