- title "Request SSH tunnel for #{@device.name}"

%h1= yield(:title)

.row
  .col-md-12
    =bootstrap_form_for([@device, @ssh_tunnel]) do |f|
      =f.text_field :server, :value => @ssh_tunnel.server
      =f.text_field :username, :value => @ssh_tunnel.username
      =f.number_field :server_port, :value => @ssh_tunnel.server_port
      =f.number_field :external_port, :value => @ssh_tunnel.external_port
      =f.number_field :internal_port, :value => @ssh_tunnel.internal_port
      =f.number_field :open_duration, :value => @ssh_tunnel.open_duration
      =f.primary 'Make request'
