- unless current_user.nil?
  - if current_user.companies.size > 1
    = f.select :company_id, current_user.companies.map{ |p| ["#{p.title}", p.id] }, {}, :id => "select-company"
    = select2js_for_id "select-company"
  - else
    = f.hidden_field :company_id, value: current_user.companies.first.id