- if current_user
  - if many_companies? || current_user.root?
    = f.association :company, collection: policy_scope(Company), include_blank: false, input_html: { id: 'select-company' }
    = select2js_for_id('select-company')
  - else
    = f.input :company_id, value: current_user.companies.first.try(:id), as: :hidden
