- title t(:home_page_title)
  
%h1.page-header= yield(:title)

- unless user_signed_in?
  %h3 Демо-доступ
  %p Пожалуйста, зарегистрируйтесь для ознакомления с возможностями платформы SLON-DS. Можно использовать любой действующий e-mail. Он не будет использован для рассылки спама, а нужен лишь для подтверждения аккаунта.

%h3 Новости
%p.lead Обновление облака
%p Добавлено:
%ol 
  %li регистрация пользователей, разделение прав пользователей по группам (компаниям)
  %li возможность создания плейлиста сразу при загрузке нескольких медиафайлов
  %li фильтр, сортировка и мультивыбор медиафайлов в редакторе плелиста
  %li админка для административного управления всем контентом
