- content_for :page_title, t(:home_page_title)

- unless user_signed_in?
  %h2 Демо-доступ
  %p Пожалуйста, зарегистрируйтесь для ознакомления с возможностями платформы SLON-DS. Можно использовать любой действующий e-mail. Он не будет использован для рассылки спама, а нужен лишь для подтверждения аккаунта.

%h2= t(:news_items)
= render partial: 'news_items/list', locals: {news_items: @news_items}
= link_to t(:all_news), news_items_path
