.row
  .col-md-12
    %h3
      = sanitize news_item.title
      %small= link_to icon_text('link', news_item.created_at), news_item
    %p
      = sanitize news_item.body, tags: ['a', 'ul', 'ol', 'li']
