- media_items = present_collection(@media_items)
= render partial: 'shared/list', locals: { collection: media_items,
  columns: [{attr: :file_identifier},
            {attr: :description},
            {attr: :type},
            {attr: :size},
            {attr: :duration},
            {attr: :content_type},
            {attr: :volume_normalized} ],
  details_link: -> (i) { media_item_path(i) },
  new_path: new_media_item_path,
  destroy_multiple_path: destroy_multiple_media_items_path }
