= page_title(@media_item)
- media_item = present(@media_item)

= render partial: 'shared/show', locals: { object: media_item,
  destroy_path: media_item_path(media_item),
  attrs: [{attr: :file_identifier},
          {attr: :description},
          {attr: :type},
          {attr: :company},
          {attr: :size},
          {attr: :duration},
          {attr: :file_processing},
          {attr: :playlists},
          {attr: :volume_normalized} ] }
