@import '~bulma/bulma';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import './loader.css';
@import './tooltip.css';

.multiselect-noscroll {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid
  grey 1px;
}
.multiselect-noscroll select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}

#fill-with-bg-image {
  background-image: url("../images/dj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
}
