= page_title(@device_group)
- group = present(@device_group)

.row
  .col-sm-12
    = render partial: 'shared/show', locals: { object: group,
      edit_path: edit_device_group_path(group),
      destroy_path: device_group_path(group),
      attrs: [{attr: :title},
              {attr: :devices } ] }

.row
  .col-sm-12
    = render partial: 'shared/playlist_assignment_form', locals: { resource: Playlist::Assignment.new(playlist_id: group.selected_playlist_id), url: device_group_playlist_assignment_path(device_group_id: group.id) }
