.row
  .col-sm-9
    = text_field_tag textbox_id, '', id: textbox_id, class: 'form-control'
    = select_tag selectbox_id, collection, multiple: true, size: 8, class: 'form-control'
  .col-sm-3
    = link_to button_text, '#', id: button_id, class: 'btn btn-success'
