= page_title(@playlist, template: 'new')

= render partial: 'form', locals: { resource: @playlist, media_items_background: @media_items_background, media_items_advertising: @media_items_advertising }
