<% content_for :page_title, t('views.playlists.new_title') %>

<div class="columns">
  <div class="column is-narrow">
    <%= link_to(:back, class: "button") do %>
      <span class="icon"><i class="fas fa-angle-left "></i></span>
      <span><%= t('views.back') %></span>
    <% end %>
  </div>

  <div class="column">
    <h1 class="title"><%= yield(:page_title) %></h1>
  </div>

  <div class="column is-narrow">
  </div>
</div>


<% content_for(:js) do %>
  <%= javascript_packs_with_chunks_tag 'application', 'playlist_editor' %>
<% end %>

<div class="section">
  <div id="root_component"></div>
</div>
