= page_title(@playlist)
- playlist = present(@playlist)

.row
  .col-sm-12
    = render partial: 'shared/show', locals: { object: playlist,
      edit_path: edit_playlist_path(playlist),
      destroy_path: playlist_path(playlist),
      attrs: [{attr: :name},
              {attr: :description},
              {attr: :shuffle},
              {attr: :company},
              {attr: :media_items_and_size },
              {attr: :devices} ] }

= tag(:br)
.row
  .col-sm-12
    - playlist_items = present_collection(playlist.playlist_items)
    = render partial: 'shared/list', locals: { collection: playlist_items,
      columns: [{attr: :position, heading: '#'},
                {attr: :file_identifier},
                {attr: :description},
                {attr: :type },
                {attr: :size} ],
      details_link: -> (i) { media_item_path(i.media_item) } }
