= simple_form_for resource, url: url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .row
    .col-sm-8
      = f.input :email
    .col-sm-4
      = f.button :submit, t('views.invites.create', default: 'Send invitation'), class: 'btn btn-default'
