<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= link_to 'https://www.facebook.com/groups/1563904673876402', :target => "_blank" do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>

      <%= link_to 'https://vk.com/slonds', :target => "_blank" do %>
        <i class="fab fa-vk"></i>
      <% end %>

      <%= link_to t('views.contact_us', default: 'Contact Us'), "https://slon-ds.ru", :target => "_blank" %>
      |
      <%= link_to t('views.privacy_policy', default: 'Privacy policy'), "/privacy-policy.html", :target => "_blank" %>
    </p>
  </div>
</footer>
