.container
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{:class => flash_class(name)}
        %button.close{"data-dismiss" => "alert", "aria-hidden" => "true", "type" => "button"} ×
        = content_tag :div, msg, :id => "flash_#{name}"